.imageslidermain{
    position: relative;
    background: linear-gradient(180deg, rgba(211, 229, 255, 0.63) 0%,
     rgba(199, 218, 245, 0) 94.79%, rgba(0, 105, 255, 0.1575) 100%);
    margin-top: 3%;
}
.slidertext{
position: absolute;
width: 53%;
top: 29%;
font-family: 'Sansita Swashed', cursive;
font-weight: bolder;
font-size: 30px;
color: rgb(0, 0, 255);


}
.slidertext2{
    position: absolute;
    width: 53%;
    top: 49%;
    font-family: 'Sansita Swashed', cursive;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(0, 0, 255);
}
    
    

.imageslider1{
    width: 40%;
    margin-top: 3%;
    margin-left: 45%;
}

@media only screen and (max-width: 1080px) {
    .slidertext{
        position: absolute;
        width: 53%;
        top: 29%;
        font-family: 'Sansita Swashed', cursive;
        font-weight: bolder;
        font-size: 20px;
        color: rgb(0, 0, 255);
        
        
        }
        .slidertext2{
            position: absolute;
            width: 53%;
            top: 39%;
            font-family: 'Sansita Swashed', cursive;
            font-weight: bolder;
            font-size:20px;
            color: rgb(0, 0, 255);
        }
        
  }

  @media only screen and (max-width: 720px) {
    .slidertext{
        position: absolute;
        width: 53%;
        top: 29%;
        font-family: 'Sansita Swashed', cursive;
        font-weight: bolder;
        font-size: 15px;
        color: rgb(0, 0, 255);
        
        
        }
        .slidertext2{
            position: absolute;
            width: 53%;
            top: 39%;
            font-family: 'Sansita Swashed', cursive;
            font-weight: bolder;
            font-size: 15px;
            color: rgb(0, 0, 255);
        }
        
  }