
.discover{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 60px;

color: #000000;

text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.featurebox{
    
    width: 80%;
    margin-left: 10%;
    display: flex;
    margin-bottom: 10%;
    
}

.box1{
    
    box-shadow: 5px 5px 5px #dbd6d6;
    transition: 1s;
    width: 50%;
    
}
.box1:hover{
    transform: translate(-5px,-5px);
    transition: 0.8s;
    box-shadow: 10px 10px 10px #dbd6d6;
}
.box1:active{
    transform: translate(3px,3px);
    transition: 0.2s;
    box-shadow: 2px 2px 2px #dbd6d6;
}
.box2{
    box-shadow:  5px 5px 5px#dbd6d6;;
    width: 50%;
    
}
.box2:hover{
    transform: translate(-5px,-5px);
    transition: 0.8s;
    box-shadow: 10px 10px 10px #dbd6d6;
}
.box2:active{
    transform: translate(3px,3px);
    transition: 0.2s;
    box-shadow: 2px 2px 2px #dbd6d6;
}
.box3{
    box-shadow:  5px 5px 5px #dbd6d6;;
    width: 50%;
    
}
.box3:hover{
    transform: translate(-5px,-5px);
    transition: 0.8s;
    box-shadow: 10px 10px 10px #dbd6d6;
}
.box3:active{
    transform: translate(3px,3px);
    transition: 0.2s;
    box-shadow: 2px 2px 2px #dbd6d6;
}

.findimg{
    width: 50%;
    
}
.findimg1{
    width: 40%;
    
}
.findimg3{
    width: 40%;
}
.findtext{
    
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
height: 170px;
color: #CD6C7D;


}

.line1{
    position: relative;
    bottom: 30%;
}
.line2{
    position: relative;
    bottom: 30%;
}
.line3{
    position: relative;
    bottom: 30%;
}


@media only screen and (max-width: 1080px) {
    .box1{
        width: 30%;
    }
    .box2{
        width: 30%;
    }
    .box3{
        width: 30%;
    }
    
    .findimg{
        width: 40%;
        
    }
    .findimg1{
        width: 40%;
        
    }
    .findimg3{
        width: 50%;
    }
    
    .findtext{
    
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        height: 150px;
        color: #CD6C7D;
        
        
        }
    .line1{
        width: 50%;
    } 
    .line2{
        width: 50%;
    } 
    .line3{
        width: 50%;
    } 
  }



  @media only screen and (max-width: 720px) {
    .box1{
        width: 30%;
        
    }
    .box2{
        width: 30%;
    }
    .box3{
        width: 30%;
    }
    
    .findimg{
        width: 40%;
        
    }
    .findimg1{
        width: 40%;
        
    }
    .findimg3{
        width:40%
        
    }
        
  }