/* body{
    background-color:#F3F7FA;
} */

.appointments{
    position: relative;
    top: 20%;
    left: 65%;
    box-shadow: 4px 4px #d6d3d3;
    background-color: white;
    border-radius: 4px;
}

.alerts{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 170px;
    height: 180px;
    background-color: white;
    box-shadow: 2px 2px #24618f;
    border-radius: 5px;
    
}
.createalerts{
    position: absolute;
    top: 55%;
    left: 5%;
    width: 153px;
    font-weight: bolder;
    font-size: 20px;
    color:green ;
}
.calendar{
    position: relative;
    top: 10%;
    left: 5%;
    width: 150px;
    height: 150px;
}

.chat{
    position: absolute;
    top: 62%;
    left: 10%;
    width: 170px;
    height: 180px;
    background-color: white;
    box-shadow: 2px 2px #24618f;
    border-radius: 5px;
}
.chatimg{
    position: relative;
    top: 10%;
    left: 5%;
    width: 150px;
    height: 150px;
}
.chat-text{

    position: absolute;
    top: 75%;
    left: 5%;
    width: 153px;
    font-weight: bolder;
    font-size: 20px;
    color:green ;
}

.medical{
    position: absolute;
    top: 46%;
    left:25%;
    width: 170px;
    height: 180px;
    background-color: white;
    box-shadow: 2px 2px #24618f;
    border-radius: 5px;
}
.medicalimg{
    position: relative;
    top: 10%;
    left: 10%;
    width: 150px;
    height: 150px;
}
.medical-text{

    position: absolute;
    top: 75%;
    
    width: 183px;
    font-weight: bolder;
    font-size: 20px;
    color:green ;
}


.headline{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    position: absolute;
    top: 15%;
    left: 10%;
    color: palevioletred;
    text-shadow: 2px 2px 2px white;
    
}